{% assign footerModules = 0 %}

{% if footerMessage != blank %}
  {% assign footerModules = footerModules | plus: 1 %}
{% endif %}

{% unless settings.twitter-url.size == 0 and settings.facebook-url.size == 0 and settings.pinterest-url.size == 0 and settings.instagram-url.size == 0 %}
  {% assign footerModules = footerModules | plus: 1 %}
{% endunless %}

{% if mailingList %}
  {% assign footerModules = footerModules | plus: 1 %}
{% endif %}

<footer class="main-footer content-area" id="main-footer">

  <ul class="connect clearfix module-count-{{ footerModules }}">
    {% if footerMessage != blank %}
      <li class="contact first">
        {% if section.settings.footer-message-title != blank %}
          <h2 class="title">{{ section.settings.footer-message-title | escape }}</h2>
        {% endif %}
        <div class="footer-message">{{ footerMessage }}</div>
      </li>
    {% endif %}

    {% unless settings.twitter-url.size == 0 and
      settings.facebook-url.size == 0 and
      settings.pinterest-url.size == 0 and
      settings.instagram-url.size == 0 and
      settings.tumblr-url.size == 0 and
      settings.youtube-url.size == 0 and
      settings.vimeo-url.size == 0
    %}
      <li class="social">
        {% if socialsHeading %}
          <h2 class="title">{{ socialsHeading }}</h2>
        {% endif %}
        {% include 'social-links' %}
      </li>
    {% endunless %}

    {% if mailingList %}
      <li class="newsletter">
        {% if newsletterHeading %}
          <h2 class="title">{{ newsletterHeading }}</h2>
        {% endif %}
        {% if omnisendMailingList == false  %}
          {% form 'customer' %}
            <div class="newsletter-wrap">
              <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
              <input class="email" name="contact[email]" type="email" placeholder="{{ 'layout.footer.email' | t }}" value="">
              <input class="submit" name="subscribe" type="submit" value="{{ 'general.submit' | t }}">
            </div>
          {% endform %}
        {% else %}
          <form class="omnisend-subscribe-form">
            <div class="newsletter-wrap">
              <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
              <input class="email omnisend-subscribe-input-email" name="contact[email]" type="email" placeholder="{{ 'layout.footer.email' | t }}" value="">
              <input class="submit" name="subscribe" type="submit" value="{{ 'general.submit' | t }}">
            </div>
          </form>
        {% endif %}
      </li>
    {% endif %}
  </ul>

  <div class="sub-footer">

    {% if footerMenu.links.size > 0 %}
    <nav class="footer-nav">
      <ul>
        {% for link in footerMenu.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}

    {% include 'footer-payments' %}
  </div>

  {% if membershipLogo or membershipLink %}
    {%- capture image_tag -%}
      {%- if section.settings.image != blank -%}
        {%
          include 'rimg'
          img: membershipLogo,
          alt: 'Membership Logo',
          size: '200x200',
          lazy: true
        %}
      {%- else -%}
        {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    {%- endcapture -%}

    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
    {% assign placeholder_style = 'collection-' | append: current %}
    {% assign color = settings.accent-colour %}
    {% assign color_string = 'fill="' | append: color | append: '" xmlns' %}
    {% capture demo_image %}{%- include 'placeholder_svg_uri', placeholder: placeholder_style, color_string: color_string -%}{% endcapture %}

    <div class="footer-membership">
      <a href="{{ membershipLink }}" target="_blank" rel="noreferrer noopener">
        {{ image_tag }}
      </a>
    </div>
  {% endif %}

  <div class="footer-credit">
    <a href="https://designgood.com" target="_blank" rel="nofollow noopener">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="294px" height="19px" viewBox="0 0 294 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>DesignGood Link Back</title>
          <g id="Homepage-+-Subpages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Homepage-V1" transform="translate(-669.000000, -4950.000000)" fill="#00375B">
                  <g id="Footer" transform="translate(114.000000, 4575.000000)">
                      <g id="DesignGood-Link-Back" transform="translate(554.000000, 375.000000)">
                          <g id="DesignGood-Logo" transform="translate(180.500000, 0.000000)">
                              <path d="M76.8280601,14.5444488 C75.5545164,14.5444488 73.8350226,15.1948327 72.136698,15.1948327 C67.5733492,15.1948327 63.6247045,12.1071397 63.6247045,7.69733555 C63.6247045,3.28535748 67.5733492,0.197466897 72.136698,0.197466897 C73.9202983,0.197466897 74.9388138,0.870182389 76.1061124,0.870182389 C76.6581079,0.870182389 76.8695996,0.532836518 77.1040579,0.239561022 L77.4437627,6.10032795 L77.2951793,6.10032795 C77.0407501,3.66361173 75.5970544,0.344499896 72.2854811,0.344499896 C68.7833856,0.344499896 68.2946978,4.65094621 68.2946978,7.69733555 C68.2946978,10.7427368 68.7833856,15.048195 72.2854811,15.048195 C72.7739691,15.048195 73.2201189,14.9855478 73.6445003,14.8592655 L73.6445003,8.26353117 L71.5637331,8.26353117 L71.5637331,8.11610292 L79.4386551,8.11610292 L79.4386551,8.26353117 L77.8048365,8.26353117 L77.8048365,15.1537267 C77.5701785,14.8592655 77.4012247,14.5444488 76.8280601,14.5444488" id="Fill-1"></path>
                              <path d="M84.7941892,15.066495 C86.4112323,15.066495 86.4292061,13.2001246 86.4292061,10.3918733 C86.4292061,7.58322688 86.4112323,5.71665878 84.7941892,5.71665878 C83.1775455,5.71665878 83.1589726,7.58322688 83.1589726,10.3918733 C83.1589726,13.2001246 83.1775455,15.066495 84.7941892,15.066495 M84.7941892,5.59175978 C87.7227208,5.59175978 90.0033966,7.61840413 90.0033966,10.3918733 C90.0033966,13.1645521 87.7227208,15.1908012 84.7941892,15.1908012 C81.8676547,15.1908012 79.5855809,13.1645521 79.5855809,10.3918733 C79.5855809,7.61840413 81.8676547,5.59175978 84.7941892,5.59175978" id="Fill-4"></path>
                              <path d="M96.1280696,15.066495 C97.7435151,15.066495 97.762088,13.2001246 97.762088,10.3918733 C97.762088,7.58322688 97.7435151,5.71665878 96.1280696,5.71665878 C94.5112262,5.71665878 94.4930527,7.58322688 94.4930527,10.3918733 C94.4930527,13.2001246 94.5112262,15.066495 96.1280696,15.066495 M96.1280696,5.59175978 C99.0558023,5.59175978 101.336878,7.61840413 101.336878,10.3918733 C101.336878,13.1645521 99.0558023,15.1908012 96.1280696,15.1908012 C93.2001372,15.1908012 90.9184628,13.1645521 90.9184628,10.3918733 C90.9184628,7.61840413 93.2001372,5.59175978 96.1280696,5.59175978" id="Fill-6"></path>
                              <path d="M108.575148,7.24507074 C108.575148,6.67591075 108.160552,5.78758639 107.353328,5.78758639 C105.681565,5.78758639 105.681565,8.7033456 105.681565,10.4092446 C105.681565,12.6131585 105.701336,14.5508716 107.083322,14.5508716 C107.908719,14.5508716 108.394012,13.4311284 108.575148,12.666122 L108.575148,7.24507074 Z M111.897505,12.9153272 C111.897505,13.8216354 112.237809,14.7815 113.514348,13.7329018 L113.585844,13.8216354 C112.75845,14.5151015 111.735741,15.1729951 110.441827,15.1729951 C109.32785,15.1729951 108.663818,14.3200457 108.575148,13.1287622 C108.215671,14.3907954 107.191564,15.1729951 105.807781,15.1729951 C103.239924,15.1729951 102.143122,12.7908234 102.143122,10.6220867 C102.143122,7.35099774 104.640283,5.59174001 107.012026,5.59174001 C107.908719,5.59174001 108.377036,5.96525126 108.610895,6.605161 L108.575148,1.57501194 L106.776968,1.80603556 L106.759993,1.68113657 L111.897505,1.0054567 L111.897505,12.9153272 Z" id="Fill-8"></path>
                              <path d="M17.8028716,9.06189663 L17.8028716,9.18699326 C18.7007629,9.27552925 19.6172271,9.31110175 20.4432232,9.29351313 C20.7845258,8.12021352 20.7489776,5.5783608 19.4726379,5.5783608 C18.0361316,5.5783608 17.8028716,7.53366253 17.8028716,9.06189663 M17.8028716,9.32928325 C17.8555948,11.0891339 18.485277,13.6841477 20.8568204,13.6841477 C22.1135886,13.6841477 23.3711556,12.6179608 23.9285432,11.3199599 L24.0353875,11.373121 C23.1556697,13.2748663 21.4136088,15.0347169 18.8259804,15.0347169 C16.2579234,15.0347169 14.2099085,13.2215076 14.2099085,10.3950749 C14.2099085,9.89785037 14.2820034,9.41801688 14.4072209,8.95577201 C14.0295714,8.91940901 10.423028,8.90221563 10.0994996,8.90221563 C9.39971955,8.90221563 8.8611046,9.11604588 8.8611046,9.84449162 C8.8611046,10.3774862 9.30965082,10.7687837 9.7054739,10.9464486 C9.65075365,12.0665871 8.84253167,12.5817955 7.94484009,12.5817955 C6.99282768,12.5817955 6.0949364,11.9600672 6.0949364,10.7687837 C6.0949364,9.07988051 7.89031955,8.67119201 9.18423363,8.67119201 C9.79494349,8.67119201 13.7429891,8.72415551 14.4437677,8.81348201 C15.0906248,6.76885379 17.0128232,5.45365943 19.6172271,5.45365943 C22.580508,5.45365943 24.1618032,6.89375279 23.6585368,9.09865488 C21.4493567,9.50635525 19.4912108,9.47098038 17.8028716,9.32928325" id="Fill-10"></path>
                              <path d="M10.005237,8.9115633 C10.005237,4.7879201 9.59243865,2.81404163 6.16163917,2.81404163 L5.63999948,2.81404163 L5.63999948,12.9286866 C5.63999948,14.6171946 5.69432031,15.0086897 6.84384483,15.0086897 C8.89166006,15.0086897 10.005237,13.4268992 10.005237,8.9115633 L10.005237,8.9115633 Z M1.99708918e-05,15.0086897 C1.9401921,15.0086897 1.9401921,14.0128574 1.9401921,11.9334471 L1.9401921,5.88928421 C1.9401921,3.73892661 1.9401921,2.81404163 1.99708918e-05,2.81404163 L1.99708918e-05,2.68993313 L6.73600202,2.68993313 C11.1551609,2.68993313 13.957077,4.69879123 13.957077,8.87559555 C13.957077,12.4490508 11.6941753,15.1331935 7.47232879,15.1331935 L1.99708918e-05,15.1331935 L1.99708918e-05,15.0086897 Z" id="Fill-12"></path>
                              <path d="M24.9802903,11.0203999 L25.1055078,11.0203999 C25.5189052,14.0244975 28.1410833,14.6999797 29.39885,14.6999797 C30.547376,14.6999797 31.3745704,14.1490012 31.3745704,13.4551398 C31.3745704,11.5180196 24.9802903,11.7310594 24.9802903,8.22953967 C24.9802903,6.04281907 27.4942261,5.26061933 29.3619039,5.26061933 C30.1525515,5.26061933 30.9433988,5.40330458 31.5716831,5.59816283 L32.7569555,5.27880083 L32.9372926,8.40759979 L32.8112763,8.40759979 C32.5955907,6.25645169 30.6016968,5.40330458 29.2904081,5.40330458 C28.2489261,5.40330458 27.5485469,5.95408545 27.5485469,6.62996294 C27.5485469,8.65640966 33.8174098,8.12262454 33.8174098,11.6245395 C33.8174098,13.5444663 31.9131853,14.8416768 29.39885,14.8416768 C28.5536819,14.8416768 27.4942261,14.6999797 26.5058667,14.4687585 L25.1770035,14.806302 L24.9802903,11.0203999 Z" id="Fill-14"></path>
                              <path d="M39.5814685,2.57675329 C39.5814685,3.6433354 38.7191254,4.51446639 37.6418955,4.51446639 C36.58224,4.51446639 35.7019231,3.6433354 35.7019231,2.57675329 C35.7019231,1.52795743 36.58224,0.674810316 37.6418955,0.674810316 C38.7191254,0.674810316 39.5814685,1.51017118 39.5814685,2.57675329 L39.5814685,2.57675329 Z M34.4265819,14.7176474 L34.4265819,14.5935389 C35.8273403,14.5935389 35.9891045,14.2374186 35.9891045,12.3356733 L35.9891045,8.07013534 C35.9891045,6.87845661 35.7374713,6.39901837 34.2108963,6.75454574 L34.174749,6.63004199 L39.3122609,5.26069838 L39.3122609,12.3356733 C39.3122609,14.2374186 39.4740251,14.5935389 40.8753826,14.5935389 L40.8753826,14.7176474 L34.4265819,14.7176474 Z" id="Fill-16"></path>
                              <path d="M44.9150945,7.69648576 C44.9150945,9.45673161 45.3288914,10.2733181 46.2449562,10.2733181 C47.4312272,10.2733181 47.447803,8.79784987 47.447803,7.82079189 C47.447803,6.14967491 46.9990571,5.27893917 46.1193393,5.27893917 C45.2394218,5.27893917 44.9150945,5.97201003 44.9150945,7.69648576 M41.3051561,16.0682759 C41.3051561,15.1795563 41.969388,14.7710654 42.6527919,14.7710654 C43.2984508,14.7710654 44.0006274,15.1623629 44.0361756,15.961756 C43.6587257,16.0682759 43.425266,16.4417871 43.425266,16.8862458 C43.425266,17.4907806 43.9281331,17.917453 45.598099,17.917453 C47.8444249,17.917453 49.4067478,17.1168741 49.4067478,15.9267764 C49.4067478,15.0908227 48.634074,14.6107915 47.197368,14.6107915 C46.7296497,14.6107915 45.9755489,14.6467593 45.1495528,14.6467593 C43.3529714,14.6467593 41.2342595,14.3799655 41.2342595,12.5661633 C41.2342595,11.606694 42.204046,10.7709378 43.6942739,9.97095186 C42.7959832,9.68656949 41.8974928,8.97610762 41.8974928,7.92711413 C41.8974928,5.95422378 44.7537297,5.08269755 46.4606418,5.13664917 C45.8687046,3.57224969 46.8738396,1.91931421 48.6172984,1.91931421 C49.6402075,1.91931421 50.3234117,2.50527233 50.3234117,3.37640332 C50.3234117,4.21196181 49.6765545,4.83448055 48.8317858,4.8878393 C48.9220542,4.33686081 48.2747976,4.05228081 47.6822613,4.05228081 C47.106101,4.05228081 46.4606418,4.31848168 46.5858593,5.13664917 C48.5446044,5.13664917 50.4837779,6.27378341 50.4837779,7.60755451 C50.4837779,9.24309899 48.6172984,10.4163986 46.0468449,10.4163986 C45.3646393,10.4163986 44.6105384,10.2733181 43.8374652,10.0432826 C42.4189328,11.0735017 43.4965621,11.464404 45.4185607,11.464404 C45.9396013,11.464404 46.6937021,11.4294243 47.2862385,11.4294243 C49.100594,11.4294243 51.4365892,11.8195361 51.4365892,14.1663329 C51.4365892,16.6026539 48.8855075,18.0769364 45.4185607,18.0769364 C43.4606145,18.0769364 41.3051561,17.6684455 41.3051561,16.0682759" id="Fill-18"></path>
                              <path d="M58.2252944,14.7175683 L58.2252944,14.5934598 C59.1767077,14.5934598 59.1950809,14.1134287 59.1950809,12.6911216 L59.1950809,8.33645479 C59.1950809,7.60741618 59.1052119,6.64814444 58.0623319,6.64814444 C57.6319592,6.64814444 57.0208499,6.87837756 56.4820353,7.34082005 L56.4820353,12.6911216 C56.4820353,13.8108648 56.4996096,14.5934598 57.4703947,14.5934598 L57.4703947,14.7175683 L51.5963563,14.7175683 L51.5963563,14.5934598 C52.9965155,14.5934598 53.1588789,14.2373396 53.1588789,12.3355942 L53.1588789,8.07005629 C53.1588789,6.87837756 52.9086436,6.39893932 51.3806707,6.75446669 L51.3443237,6.62996294 L56.5195805,5.26061933 L56.4652597,7.18094143 C58.2428688,5.7410457 59.3388713,5.26061933 60.4342747,5.26061933 C61.8889545,5.26061933 62.5178378,6.0611982 62.5178378,7.87381467 L62.5178378,12.3355942 C62.5178378,14.2373396 62.6792026,14.5934598 64.0809595,14.5934598 L64.0809595,14.7175683 L58.2252944,14.7175683 Z" id="Fill-21"></path>
                          </g>
                          <text id="Brand-&amp;-Website-Crea" font-family="noto-sans, ProximaNova-Regular, Proxima Nova" font-size="13.5" font-weight="normal" line-spacing="20">
                              <tspan x="0.158" y="13">Brand &amp; Website Created by</tspan>
                          </text>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </a>
  </div>

</footer>
